<section>
  <h2>Заголовок додатковоъ секції</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat reprehenderit suscipit dolor
    soluta. Nobis ipsam labore sit, ut commodi veritatis omnis cum, odio, officiis quidem corrupti
    aut voluptas iusto temporibus. Facere accusantium officia nesciunt nisi dolorem nostrum ad,
    voluptatum quos tempora quasi distinctio, inventore reiciendis facilis consequuntur corrupti
    vero consectetur.
  </p>

  <ul>
    <li>замовити</li>
    <li>оплатити</li>
  </ul>
</section>
